[submodule "Dependencies/APCpp"]
	path = Dependencies/APCpp
	url = https://github.com/RePod/APCpp.git
    branch = megamix
    ignore = dirty
[submodule "Dependencies/imgui"]
	path = Dependencies/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
